:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.section {
  padding: 2rem 0;
}

.section h3 {
  font-size: 2rem;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-center {
    text-align: center;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}
